*{
	font-family: "Helvetica Neue", Helvetica;
	background-color:rgb(217, 217,217);

}
html, body{
	margin: 0;
	height: 100%;
}

#header{
	border: 3px solid black;
	text-align: center;
	background-color:rgb(222,193,155);
	font-weight: 900;
	padding: 15px;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0 2%;

}

#container{
	margin:  0;
	border: 3px solid rgb(217, 217,217);
	background-color:rgb(217, 217,217);
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: auto;
	text-align: center;
}

.button{
	border: none;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	padding: 10px 30px;
	font-size: 16px;
	transition: 0.3s;
	color: black;
	font-weight: bold;
	display: block;
	margin: 9vw auto;
	background-color: rgb(222,193,155);
}
.button:hover{
	background-color: brown;
	color: white;
	opacity: 1;

}
.button:active{
	background-color: grey;
}
